* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #9c27b0, #31d5eb);
}

.container {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .box {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container .box h2 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.container .box #grocery {
  position: relative;
  width: 100%;
  display: flex;
}

.container .box #grocery input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  outline: none;
}

.container .box #grocery button {
  background: #4bae4f;
  color: #fff;
  min-width: 100px;
  font-weight: 500;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
}

.container ol {
  position: relative;
  padding: 10px 20px 10px 40px;
  width: 100%;
  min-height: 398px;
  background: #fff
    repeating-linear-gradient(
      transparent 0%,
      transparent 99%,
      #000 99% #000 100%
    );
  background-size: 50px 50px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
